
body{
	background-color: ghostwhite;
}
.btn-unique {
    color: #9d9d9d;
    background-color: #222222;
    border-color: #000000;
}

.btn-unique:focus,
.btn-unique:hover,
.btn-unique:active
.btn-unique.active {
    color: #fff;
    background-color: #222222;
    border-color: #000000;
}

.jumbotron{
	background-color: #d0d0d0;
}

.other-color{
	width: 100%;
	color: white;
	background-color: #222222;
	margin-bottom: 0px;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 30px;
    padding-left: 30px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.container{
	padding-top: 80px;
}
